
=====(((=))=====(=)))===========
      " `,      |' /
      /"/        |""
     """|        \"|
     |"||        " "
     "" "        |"|\
    /""~\\.      /" ""~,                <%= @message %>
   ""~""""`"",~`~"!!"!" \            O
   /"""""/""! "~""" "" "~",       o
  //\""!!""~"!"!"\"""/~!~, C~"~P  
 // !!"""""! "~ " !!"!! "," O o"~
 ||   !!"!!~!!~||"  !     "" Y ""
 \\     !  !  !            `"U"'
  \\
   \\  0))
    \`-~/~
     `~'
newton@proton.Nuc.Berkeley.EDU (Q)
